/* CSS Reset */

body{
    font-family: 'Baloo Bhai';
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/Images/fitwoman.jpg');
    background-size: cover;
    height : 100vh;
}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    /* We can do the below portion with help of float also */
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    width: 36px;
    filter: invert(70%);
    display: block;
    margin: 0% auto;
}
.left div{
    line-height: 20px;
    font-size: large;
    text-align: center;
}
.mid{
    display: block;
    width: 45%;
    margin: 20px auto;
    /* border: 2px solid rgba(1, 101, 15, 0.999); */
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid rgb(242, 255, 0); */
}
.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: grey;
}
.btn{
    font-family: 'Baloo Bhai';
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #4a4a4a;
}

.container{
    border: 2px solid white;
    margin: 120px 80px;
    padding: 65px 65px;
    width: 33%;
    border-radius: 26px;
}
.container h1{
    text-align: center;
}
.form-group input{
    display: block;
    text-align: center;
    width: 260px;
    padding: 2px 2px;
    margin: 20px auto;
    border: 2px solid rgb(140, 139, 139);
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Baloo Bhai';
}
.form-group .btn{
    display: block;
    margin: 40px auto;
}

/* upto 32:30 lecture time */